{% extends 'base.html' %}

{% block title %}
    Services
{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-3">
    <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
              <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
              </svg>
              Dashboard
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Services</a>
            </div>
          </li>
          <!-- <li aria-current="page">
            <div class="flex items-center">
              <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Flowbite</span>
            </div>
          </li> -->
        </ol>
    </nav>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-12 mx-auto flex flex-wrap ">
        <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-4 w-full mt-10 md:mt-0">
          <h2 class="text-indigo-600 text-lg font-medium title-font mb-5">Club House Booking</h2>
          <div class="relative mb-4">
            <label for="full-name" class="leading-7 text-sm text-gray-600">Event's name</label>
            <input type="text" id="full-name" name="full-name" placeholder="Ex. Marriage" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="start_date" class="leading-7 text-sm text-gray-600">From date</label>
            <input type="date" id="start_date" name="start_date" style="color: gray !important;" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700  py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="end_date" class="leading-7 text-sm text-gray-600">To date</label>
            <input type="date" id="end_date" name="end_date" style="color: gray !important;" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700  py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="content" class="leading-7 text-sm text-gray-600">Description</label>
            <textarea name="content" id="" cols="30" rows="4" style="color: gray !important;" placeholder="Short description of your event" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700  py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"></textarea>
          </div>
          <button class="text-white bg-indigo-600 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-700 rounded text-lg">Submit</button>
        </div>
        <div class="lg:w-3/5 md:w-1/2 md:pl-16 lg:pr-0 pr-0">
          <section class="text-gray-600 body-font">
            <div class="container px-5 py-6 mx-auto">
              <div class="text-center mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Services Provided by <span class="text-indigo-600">"Avadh Carolina"</span></h1>
              </div>
              <div class="flex flex-wrap lg:w-full sm:mx-auto sm:mb-2 -mx-2">
                <div class="p-2  w-full">
                  <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                      <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Authentic Cliche Forage</span>
                  </div>
                </div>
                <div class="p-2  w-full">
                  <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                      <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Kinfolk Chips Snackwave</span>
                  </div>
                </div>
                <div class="p-2  w-full">
                  <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                      <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Coloring Book Ethical</span>
                  </div>
                </div>
                <div class="p-2  w-full">
                  <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                      <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Typewriter Polaroid Cray</span>
                  </div>
                </div>
                <div class="p-2  w-full">
                  <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                      <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Pack Truffaut Blue</span>
                  </div>
                </div>
                <div class="p-2  w-full">
                  <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                      <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">The Catcher In The Rye</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        
        
      </div>
    </section>

    <section>
      <div class="container px-5 py-6 mx-auto flex flex-wrap ">
        <h1 class="title-font font-medium text-3xl text-gray-900 my-4 text-indigo-600">Bookings</h1>
          <div class="overflow-x-auto w-full">
            <table class="min-w-full border-collapse table-auto">
              <thead>
                <tr>
                  <th class="px-4 py-2 text-left bg-gray-100 border-b">Member</th>
                  <th class="px-4 py-2 text-left bg-gray-100 border-b">Event</th>
                  <th class="px-4 py-2 text-left bg-gray-100 border-b">Date</th>
                  <th class="px-4 py-2 text-left bg-gray-100 border-b">Days</th>
                  <th class="px-4 py-2 text-left bg-gray-100 border-b">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="px-4 py-2 border-b">John Doe</td>
                  <td class="px-4 py-2 border-b">Marriage function</td>
                  <td class="px-4 py-2 border-b">23 Sep, 2024</td>
                  <td class="px-4 py-2 border-b">3 days</td>
                  <td class="px-4 py-2 border-b">Panding</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </section>

</div>
        
{% endblock %}