{% extends 'base.html' %}

{% block title %}
    Seggestion
{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-3">
    <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
              <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
              </svg>
              Dashboard
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Suggestions</a>
            </div>
          </li>
          <!-- <li aria-current="page">
            <div class="flex items-center">
              <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Flowbite</span>
            </div>
          </li> -->
        </ol>
      </nav>

      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-2">
              <div class="max-w-md mx-full my-4 mx-4">
                <!-- Sender's Message -->
                <div class="flex justify-end items-center"  >
                  <div class="bg-gray-100 text-white rounded-lg p-2 max-w-md border-gray-300" style="border: 1px solid blue; border-radius: 15px;">
                    <div class="flex items-center">
                      <img src="https://img.freepik.com/premium-vector/young-smiling-man-avatar-man-with-brown-beard-mustache-hair-wearing-yellow-sweater-sweatshirt-3d-vector-people-character-illustration-cartoon-minimal-style_365941-860.jpg" alt="Sender's Profile" style="border: 1px solid blue;" class="w-8 h-8 rounded-full mr-2">
                      <h3 class="text-sm text-gray-400 font-semibold">Sender's Name</h3>
                    </div>
                    <p class="text-sm text-gray-400 pt-2">This is a message from the sender. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint deleniti fugiat iusto voluptatum consectetur earum doloribus laboriosam distinctio, delectus dolorem voluptatibus explicabo numquam laudantium! Nisi atque commodi ad numquam a magnam quis reprehenderit consequatur voluptatem ratione, sit cum error eaque voluptatibus blanditiis quo. Minima modi veniam saepe quos earum voluptas quidem nostrum non reiciendis voluptatibus beatae sint, ipsa iure magni neque, dicta possimus voluptates. Odio nihil fugit alias molestiae qui nostrum harum distinctio corrupti voluptatem, saepe praesentium, ratione, adipisci tenetur aut voluptatum. Enim vero aperiam rem quae totam? Ipsum eos dolores, rerum harum mollitia reiciendis ab officia ex deserunt eveniet?</p>
                    <p class="text-xs text-gray-400 py-1">12:30 PM</p>
                  </div>
                </div>
            
              </div>
              <div class="max-w-md mx-full my-4 mx-4">
                <!-- Sender's Message -->
                <div class="flex justify-end items-center"  >
                  <div class="bg-gray-100 text-white rounded-lg p-2 max-w-md border-gray-300" style="border: 1px solid blue; border-radius: 15px;">
                    <div class="flex items-center">
                      <img src="https://img.freepik.com/premium-vector/young-smiling-man-avatar-man-with-brown-beard-mustache-hair-wearing-yellow-sweater-sweatshirt-3d-vector-people-character-illustration-cartoon-minimal-style_365941-860.jpg" alt="Sender's Profile" style="border: 1px solid blue;" class="w-8 h-8 rounded-full mr-2">
                      <h3 class="text-sm text-gray-400 font-semibold">Sender's Name</h3>
                    </div>
                    <p class="text-sm text-gray-400 pt-2">This is a message from the sender. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint deleniti fugiat iusto voluptatum consectetur earum doloribus laboriosam distinctio, delectus dolorem voluptatibus explicabo numquam laudantium! Nisi atque commodi ad numquam a magnam quis reprehenderit consequatur voluptatem ratione, sit cum error eaque voluptatibus blanditiis quo. Minima modi veniam saepe quos earum voluptas quidem nostrum non reiciendis voluptatibus beatae sint, ipsa iure magni neque, dicta possimus voluptates. Odio nihil fugit alias molestiae qui nostrum harum distinctio corrupti voluptatem, saepe praesentium, ratione, adipisci tenetur aut voluptatum. Enim vero aperiam rem quae totam? Ipsum eos dolores, rerum harum mollitia reiciendis ab officia ex deserunt eveniet?</p>
                    <p class="text-xs text-gray-400 py-1">12:30 PM</p>
                  </div>
                </div>
            
              </div>
            </div>
        </div>
    </section>
    

</div>
{% endblock %}